* { box-sizing: border-box; } 

body {
  display: inline-block;
  width: 100%;
  counter-reset: shot;
}

.label:before {
  counter-increment: shot;
  content: counter(shot) ": ";

  position: absolute;
  width: 440px;
  left: 0; right: 0;
  margin: 20px auto;

  font-size: 30px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.screenshot {
  position: relative;
  border: 1px solid red;
  overflow: hidden;
  padding: 20px;
  background-color: white;
  margin: 10px auto;
  left: 0; right:0;
}



.screenshot.small.codex {
  width: 375px;
  height: 667px;
}

.nav  {
  display: flex;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  font-size: 2em;
  color: #333;
}

.nav .info {
  position: absolute;
  width: 100%;
  margin: 10px;
  margin-top: 15px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
}

.nav .logo {
  padding-right: 10px;
  border-right: 1px solid black;
}

.nav a,
.nav a:visited {
  color: #333;
}

.nav .project,
.nav .current {
  font-size: .6em;
}

.nav a.current {
  color: rgba(255,0,0,0.7);
}

.nav .item {
  flex: 1 1 100px;
  height: 13px;
}


.leaf img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.column {
  position: absolute;
  height: 80%;
  overflow: hidden;
}



/* red */
.screenshot     .nav .item {
  background-color: rgba(255,0,0,0.4);
}

.screenshot .nav .item:hover,
.screenshot.one .nav .item:nth-child(3),
.screenshot.two .nav .item:nth-child(4) {
  background-color: rgba(255,0,0,0.7);
}
.screenshot.one .nav .item:nth-child(3) {
  flex-basis: 170px;
}
.screenshot.two .nav .item:nth-child(4) {
  flex-basis: 220px;
}


/* pink | church */

.codex[data-current=church] .nav .item {
  background-color: rgba(255,71,218,0.6);
}

[data-current=church].codex .nav .current { color: rgba(255,71,218,1); }

[data-current=church].screenshot .nav .item:hover,
[data-current=church].screenshot .nav .item:nth-child(3),
[data-current=church].screenshot .nav .item:nth-child(4) {
  background-color: rgba(255,71,218,1);
}

[data-url="/menu"].screenshot.three.codex .leaf {
  display: inline-flex;
  flex-flow: column nowrap;
  padding-top: 70px;
}

[data-url="/menu"].screenshot.three.codex .bucket {
  position: absolute;
  background-color: rgba(255,0,0,0.7);
  padding: 10px;
  opacity: 1;
  transition: transform 0.3s ease-in-out, opacity 0.3s linear;
}

[data-url="/menu"].screenshot.three.codex .bucket a {
  color: #eee;
}

[data-url="/menu"].screenshot.three.codex p {
  margin: 5px 0;
}
[data-url="/menu"].screenshot.three.codex p.headline {
  font-family: "Oswald", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.8em;
}

[data-url="/menu"].screenshot.three.codex [data-current=east_west] {
  background-color: rgba(251, 125, 32, 1);
  transform: translate(10px, 80px);
}

[data-url="/menu"].screenshot.three.codex [data-current=rights] {
  background-color: rgba(0, 162, 81, 1);
  transform: translate(20px, 160px);
}

[data-url="/menu"].screenshot.three.codex [data-current=info_war] {
  background-color: rgba(46, 95, 210, 1);
  transform: translate(30px, 240px);
}

[data-url="/menu"].screenshot.three.codex [data-current=church] {
  background-color: rgba(255,71,218, 1);
  transform: translate(40px, 320px);
}



.kremlin {
  color: rgba(255,0,0,0.7);
}
.headine.kremlin {
  font-size: 4em;
}

body.kremlin [data-url="/menu"].codex .bucket[data-current=kremlin],
body.east_west [data-url="/menu"].codex .bucket[data-current=east_west],
body.rights [data-url="/menu"].codex .bucket[data-current=rights],
body.info_war [data-url="/menu"].codex .bucket[data-current=info_war],
body.church [data-url="/menu"].codex .bucket[data-current=church] {
  transform: translate(0, 0);
  opacity: 1;
}

body.kremlin [data-url="/menu"].codex .bucket:not([data-current=kremlin]),
body.east_west [data-url="/menu"].codex .bucket:not([data-current=east_west]),
body.rights [data-url="/menu"].codex .bucket:not([data-current=rights]),
body.info_war [data-url="/menu"].codex .bucket:not([data-current=info_war]),
body.church [data-url="/menu"].codex .bucket:not([data-current=church]) {
  opacity: 0;
  pointer-events: none;
}


/*
.screenshot.two .nav  {
  height: 100px;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, rgba(255, 255, 255, 0)),
    color-stop(0.75, rgba(166, 166, 166, 0.5)),
    color-stop(1, rgba(0,0,0,1))
  );
}
*/

.screenshot.two .current {
  /* text-shadow: 2px 2px 3px rgba(255,255,255,0.5); */
  /* text-shadow: 2px 2px 2px rgba(0,0,0,0.5); */
  text-shadow:
    3px 3px 5px rgba(255,255,255,0.8),
    2px 2px 2px rgba(0,0,0,0.5);
}
.screenshot.two .column {
  padding-top: 200px;
}



.screenshot.loading .loading-graphic {
  height: 40px;
  font-size: 45px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
  line-height: 1.2;
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.screenshot.loading .loading-graphic .tag {
  font-size: 0.45em;
  color: green;
}

.screenshot.loading .loading-graphic .dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background: black;
  margin-right: 0.4em;
}

.screenshot.loading .loading-graphic .letter {
  margin-left: -0.2em;
}


.screenshot.loading .loading-graphic .dot,
.screenshot.loading .loading-graphic .letter,
.screenshot.loading .loading-graphic .tag {
  opacity: 0;
  animation: dot 5s linear;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}

.screenshot.loading .loading-graphic .letter.c { animation-name: blinky1; }
.screenshot.loading .loading-graphic .letter.o { animation-name: blinky2; }
.screenshot.loading .loading-graphic .letter.d { animation-name: blinky3; }
.screenshot.loading .loading-graphic .letter.a { animation-name: blinky4; }

.screenshot.loading .loading-graphic .tag      { animation-name: blinky5; }

/* this loops through drawing and erasing itself along the way */
@keyframes dot {
  0%   { 
    opacity: 0;
    transform: translateX(80px);
  }
  10%  {
    opacity: 1;
    transform: translateX(80px);
  }
  20%  {
    transform: translate(0);;
  }
  90%   {
    opacity: 1;
  }
  95%   { opacity: 0; }
}


@keyframes blinky1 {
  20%  { opacity: 0; }
  25%  { opacity: 1; }
  90%  { opacity: 1; }
  95%  { opacity: 0; }
}

@keyframes blinky2 {
  25%  { opacity: 0; }
  30%  { opacity: 1; }
  90%  { opacity: 1; }
  95%  { opacity: 0; }
}

@keyframes blinky3 {
  30%  { opacity: 0; }
  35%  { opacity: 1; }
  90%  { opacity: 1; }
  95%  { opacity: 0; }
}

@keyframes blinky4 {
  35%  { opacity: 0; }
  40%  { opacity: 1; }
  90%  { opacity: 1; }
  95%  { opacity: 0; }
}

@keyframes blinky5 {
  45%  { opacity: 0; }
  50%  { opacity: 1; }
  90%  { opacity: 1; }
  95%  { opacity: 0; }
}

